{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">クラウドファンドを設立する</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="section is-small">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">プロジェクト立ち上げの流れ</h1>
            <h2 class="is-size-4 title">0.まずはじめに</h2>
            <p>セキュリティ面を考慮して、大手クラウドファンディングサイトを仲介したサービスとなっています。

※大手クラウドファンディングサイトでは、集めた金額を受け取る際にその一部(10%程度)が手数料として引かれますが、プロジェクト立ち上げには費用は発生しません。つまり、収支がマイナスになることはないのでご安心ください。
また、本サービス(Edufund)の利用において費用が発生することは一切ありません。なお、クラウドファンディングサイトにおいて発生したトラブルや損害については一切の責任を負いかねますのであらかじめご了承ください。

            </p>
        </div>
    </div>
</section>
<section class="section is-small">
    <div class="container">
        <div class="has-text-centered">
            <h2 class="is-size-4 title">1.プロジェクト立ち上げ</h2>
            <p>任意のクラウドファンディングサイトにてユーザー登録し、自身のクラウドファンドを設立します。
(今後プロジェクトページ作成のコツなどのサポートを掲載していく予定です)。推奨は大手クラウドファンディングサイトである<a href="https://camp-fire.jp/" target="_blank">CAMPFIRE</a>や<a href="https://readyfor.jp/" target="_blank">READYFOR</a>などです。
            </p>
        </div>
    </div>
</section>
<section class="section is-small">
    <div class="container">
        <div class="has-text-centered">
            <h2 class="is-size-4 title">2.フォーム登録</h2>
            <p><a href="https://forms.gle/QzsdLa9eY9LYCdV38" target="_blank">こちらのフォーム</a>をご記入ください。ページURL等の記入情報は本サイトの掲示板に掲載され、支援者の目に留まりやすくなります。</p>
        </div>
    </div>
</section>
<section class="section is-small">
    <div class="container">
        <div class="has-text-centered">
            <h2 class="is-size-4 title">完了！</h2>
            <p>これでプロジェクト設立は完了です！定期的に自身のプロジェクトの支援状況を確認し、必要に応じて記入内容を改善してみましょう。我々も様々なプラットフォームを通じて学生の皆様のプロジェクトの認知を広げ、支援者を募ります。引き続き政府や大学等による経済的支援にもアンテナを張り、コロナ禍を乗り切りましょう。</p>
        </div>
    </div>
</section>

{% endblock %}

